@model StackApp.Web.Features.Home.HomeViewModel

<div style="width:50%; margin:0 auto;border:1px solid green; background-color:#ffe9e9">
    <table>
        <tr>
            <td><b>Host Name</b></td>
            <td>@Model.HostName</td>
        </tr>
        <tr>
            <td><b>Version</b></td>
            <td>@Model.Version</td>
        </tr>

    </table>
</div>
